if words
    each word in words
        div(class="card")
            div(class='card-body')
                h3= word.author
                br
                a(class="card-text" href=word._id? "/words/edit/"+ word._id : "/words")= word.content
                button(class="btn btn-danger float-right" wordid=word._id) x      