extends layout
block content
  div(class="d-flex flex-row content mx-auto")
    div(class="flex-fill")
      form(class="card" method="post" action="")
        div(class="card-header") Écrire une phrase
        div(class="card-body")
          input(type="text" class="form-control mb-3" placeholder="Author")
          div(class="form-group")
            textarea(class="form-control" name="content" placeholder="Who have the last word ??")
          div(class="w-100")
            input(type="submit" value="Send" class="btn btn-primary ml-auto d-block")